<ifmodule mod_deflate.c>
  # Compresser HTML, CSS, JavaScript, Texte, XML et polices
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-police
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE texte/css
  AddOutputFilterByType DEFLATE texte/html
  AddOutputFilterByType DEFLATE texte/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE texte/xml
  # Supprimer les bogues du navigateur (nécessaire uniquement pour les très anciens navigateurs)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] sans gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  En-tête ajouter Vary User-Agent
</ifmodule>
# BEGIN En-têtes d'expiration  
<IfModule mod_expires.c>  
  # Allumez le module.
  ExpireActif le
  # Définissez les délais d'expiration par défaut.
  ExpiresDefault "accès plus 2 jours"
  ExpiresByType image/jpg "accès plus 1 mois"
  ExpiresByType image/svg+xml "accès 1 mois"
  ExpiresByType image/gif "accès plus 1 mois"
  ExpiresByType image/jpeg "accès plus 1 mois"
  ExpiresByType image/png "accès plus 1 mois"
  ExpiresByType text/css "accès plus 1 mois"
  ExpiresByType text/javascript "accès plus 1 mois"
  Application ExpiresByType/javascript "accès plus 1 mois"
  Application ExpiresByType/x-shockwave-flash "accès plus 1 mois"
  ExpiresByType image/ico "accès plus 1 mois"
  Image ExpiresByType/x-icon "accès plus 1 mois"
  ExpiresByType text/html "accès plus 600 secondes"
</IfModule>  
# END En-têtes d'expiration 